<!DOCTYPE html>
<html>
<body>

    <div id="app">
        <div v-cloak>
            <hr />
            <button v-on:click="toggle=!toggle">Show Box</button>
            <div v-if="isVisible" class="box"></div>
            
            <div v-if="toggle" class="box"></div>

            <button @click="toggleBox">Toggle the Box</button> 
            <div v-if="showORhide" class="box"></div>
        
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@next"></script>
<script>
    let app = Vue.createApp({
            data: function() {
                return{
                    isVisible: true,
                    toggle: true,
                    showORhide: true              
                }
            methods: {
                toggleBox() {
                    this.showORhide=!this.showORhide;
                }
            }    
            }
        })
       
        app.mount("#app")
</script>

<style>
    [v-cloak]{display:none !important;}
    .box{
        height: 200px;
        width: 200px;
        background-color:brown;
        margin: auto;
    }
</style>

</html> 






